body {
    background-color: #232438;
}
  @font-face {
    font-family: 'product_sansregular';
    src: url('font\\product_sans_regular-webfont.woff') format('woff2'),
         url('font\\product_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'product_sansregular', Arial, sans-serif;

}

.navbar {
  display: flex;
  position: sticky;
  top: 20;
  width: 97.6%;
  z-index: 1000;
  background-color: #8b95a9;
  border: 2px solid black;
  margin: auto;
  padding: 10px;
  border-radius: 1rem;
  border-width: 2px;
  border-color: #4e5db393;
  gap: 2rem;
}

.navbar a {
    padding: 10px;
    font-size: 20px;
    color: #232438;
    text-decoration: none;
}

.home_content {
  display: grid;
  margin-left: 75px;
  margin-top: 120px;
  font-size: 1.4rem;
  color: #ffffffd2;
  gap: 1rem;
}


.undertitle_paragraph {
  display: grid;
  margin-left: 75px;
  margin-top: 20px;
  margin-right: 75px;
  font-size: 1rem;
  color: #ffffffd2;
  gap: 1rem;
}

.aboutme {
  display: grid;
  margin-left: 75px;
  margin-top: 150px;
  margin-right: 75px;
  gap: 1rem;
  font-size: 1.4rem;
  color: #ffffffd2;
}


.socials {
  display: grid;
  margin-left: 75px;
  margin-top: 150px;
  margin-bottom: 10px;
  gap: 1rem;
  font-size: 1.4rem;
  color: #ffffffd2;
}

.social_button {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #1c64f2;
  max-width: fit-content;
  text-decoration: none;
}

.social_button:hover {
  text-decoration: underline;
}

.social_img {
  display: flex;
  width: 4rem;
  height: 4rem;
}
